*{
    box-sizing: border-box;
}

.container{
    background-color: pink;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    height: 400px;
    overflow: auto;
    
    
}

.item {
    max-width: 220px;
    max-height: 220px;
    margin: 10px;
    border: solid 1px;
    box-shadow:  inset 0px -1px 16px 0px;
    border-radius: 20px;
    display: inline-block;
    background-color: bisque;
}

h2{
    padding-left: 15px;
    padding-top: 10px;
}

p{
    padding-right: 9px;
    padding-left: 15px;
}